h1, h2 {
    text-align: center;
}

#contenido {
   
    margin-top: 40px;

}
.borrar-task,
.borrar-task:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}



.error {
    background-color: red;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}


.exito {
    background-color: #c8f7c5;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 10px auto;
    color: #1e4620;
    border: 1px solid #7ad67a;
}



.error {
    background-color: #e74c3c;
    color: white;
}

.exito {
    background-color: #c8f7c5;
    color: #1e4620;
    border: 1px solid #7ad67a;
}

.eliminado {
    background-color: #FFE0B2;
    color: #E65100;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
}
